body {
    background-color: #003366; 
}

.card {
    background-color: #00509e; 
    color: white; 
    max-width: 700px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

fieldset {
    border: 2px solid white;
    border-radius: 5px;
}

legend {
    font-size: 18px;
    color: yellow; /* Color amarillo como el logo */
}

.btn {
    width: 120px;
    font-weight: bold;
}



